@font-face {
    font-family: space;
    src: url('../GBRP/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

body {
    font-family: space;
    background-color: black !important;
    margin: 0;
    scroll-behavior: smooth;
    color: white !important;

    padding-top: 6rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    background-color: black;
    z-index: 1000;
}

#logo {
    height: 60px;
    width: auto;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* .landingsPage {
    background-image: url('../img/logo.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
} */